<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4>Relatório de Pessoas</h4>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-hover" data-ng-init="vm.Listar()">
					<thead>
						<tr>
							<th>Nome Completo</th>
							<th>Empresa</th>
						</tr>
					</thead>
					<tbody>
						<tr style="cursor: pointer;" data-ng-repeat="pessoa in vm.Pessoas" ui-sref="menu.frmPessoa({_id: pessoa._id})">
							<td>{{pessoa.nome}}</td>
							<td>{{pessoa._idEmpresa.nome_fantasia}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<hr>
				<button type="button" class="btn btn-default" data-ui-sref="menu.frmPessoa">Novo Cadastro</button>
			</div>
		</div>

	</div>
</div>