<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4>Relatório de Empresas</h4>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-hover" data-ng-init="vm.Listar()">
					<thead>
						<tr>
							<th>Razão Social</th>
							<th>Nome Fantasia</th>
							<th>E-Mail</th>
						</tr>
					</thead>
					<tbody>
						<tr style="cursor: pointer;" data-ng-repeat="empresa in vm.Empresas" ui-sref="menu.frmEmpresa({_id: empresa._id})">
							<td>{{empresa.razao_social}}</td>
							<td>{{empresa.nome_fantasia}}</td>
							<td>{{empresa.email}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<hr>
				<button type="button" class="btn btn-default" data-ui-sref="menu.frmEmpresa">Novo Cadastro</button>
			</div>
		</div>

	</div>
</div>