<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h4>Cadastro de Empresas</h4>
				<hr>
			</div>
		</div>

		<form name="form_empresa" onsubmit="return false">

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<label for="txtNomeFantasia">Nome Fantasia</label>
					<input type="text" class="form-control" id="txtNomeFantasia" required="" data-ng-model="vm.Empresa.nome_fantasia">
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<label for="txtRazaoSocial">Razão Social</label>
					<input type="text" class="form-control" id="txtRazaoSocial" required="" data-ng-model="vm.Empresa.razao_social">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<label for="txtEmail">E-Mail</label>
					<input type="email" class="form-control" id="txtEmail" required="" data-ng-model="vm.Empresa.email">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<hr>
					<button type="button" class="btn btn-default" data-ng-click="vm.Gravar()">Gravar</button>
					<button type="button" class="btn btn-default" data-ui-sref="menu.cnsEmpresa">Voltar</button>
				</div>
			</div>

		</form>

	</div>
</div>