<style>

  body {
    background-color: #f3f3f3;
  }

  .login-panel {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 25px #C9C9C9;
    padding: 25px;
  }

  .login-panel input {
    margin: 5px 0;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
  }

  .login-panel img {
    width: 150px;
  }

  .login-panel button {
    height: 60px;
    font-size: 22px;
    font-weight: bold;
  }

  .img-login {
    text-align: center;
    margin-bottom: 15px;
  }

  .lost-pass {
    text-align: right;
  }
</style>


<div class="container-fluid login">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">


      <div class="login-panel">

        <div class="row img-login">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="http://tecnologiasfci.mackenzie.br/sensemaking/img/profile.jpg" class="img img-thumbnail img-responsive" alt="">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="text" class="form-control" placeholder="Usuário">  
          </div>  
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <input type="password" class="form-control" placeholder="Senha">
            <div class="lost-pass">
              <a href="javascript:void(0)">Esqueci minha senha</a>
            </div>
          </div>  
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
            <button class="btn btn-primary btn-block">Login</button>
            <div class="lost-pass">
              <a href="javascript:void(0)">Registrar-se</a>  
            </div>            
          </div>  
        </div>


      </div>
      
      
    </div>
  </div>
</div>