<div class="container-fluid login">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
      <div class="login-panel">
        <form name="frmLogin">
          <div class="row img-login">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <img src="./img/unknown-user.png" class="img img-thumbnail img-responsive" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="alert alert-info">
                <a href="javascript:void(0)" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <strong>Ambiente de Testes</strong><br>
                <strong>Usuário: </strong>admin<br>
                <strong>Senha: </strong>12345678
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <input type="text" class="form-control" placeholder="Usuário" required="" minlength="4" maxlength="20" id="usuario" name="usuario" data-ng-model="vm.Usuario.login">  
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <input type="password" class="form-control" placeholder="Senha" required="" minlength="8" maxlength="20" id="senha" name="senha" data-ng-model="vm.Usuario.senha">
              <div class="lost-pass">
                <a href="javascript:void(0)">Esqueci minha senha</a>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <hr>
              <button type="button" class="btn btn-primary btn-block" data-ng-click="vm.Login()" data-ng-disabled="frmLogin.$invalid">Login</button>
              <div class="lost-pass">
                <a href="javascript:void(0)">Registrar-se</a>  
              </div>            
            </div>  
          </div>
        </form>
      </div> 
    </div>
  </div>
</div>