<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-ui-sref="menu.home">Agenda</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-ui-sref="menu.frmEmpresa">Empresa</a></li>
            <li><a data-ui-sref="menu.frmUsuario">Usuário</a></li>
            <li><a data-ui-sref="menu.frmTipoServico">Tipo de Serviço</a></li>
            <li><a data-ui-sref="menu.frmPessoa">Pessoa</a></li>
            <li><a data-ui-sref="menu.frmTipoNegocio">Tipo de Negócio</a></li>
            <li><a data-ui-sref="menu.frmEtapa">Etapa</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a data-ui-sref="menu.cnsEmpresa">Empresa</a></li>
            <li><a data-ui-sref="menu.cnsUsuario">Usuario</a></li>
            <li><a data-ui-sref="menu.cnsTipoServico">Tipo de Serviço</a></li>
            <li><a data-ui-sref="menu.cnsPessoa">Pessoa</a></li>
            <li><a data-ui-sref="menu.cnsTipoNegocio">Tipo de Negócio</a></li>
            <li><a data-ui-sref="menu.cnsEtapa">Etapa</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o" aria-hidden="true"></i> (<b>2</b>)</a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">Notificações (<b>2</b>)</div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
              </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
              <li>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="notify-img"><img style="width: 45px; height: 45px;" src="./img/facebook-notification.png" alt=""></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                  <span>Notificação de Mensagem</span> <a href="javascript:void(0)" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                  <p>O Usuário <a href="javascript:void(0)">José Carlos</a> enviou uma mensagem para você. <a href="javascript:void(0)">Clique Aqui</a> para ler.</p>
                  <!-- <p class="time">1 Saat önce</p> -->
                </div>
              </li>
              <li>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  <div class="notify-img"><img style="width: 45px; height: 45px;" src="./img/facebook-notification.png" alt=""></div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                  <span>Notificação de Mensagem</span> <a href="javascript:void(0)" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
                  <p>O Usuário <a href="javascript:void(0)">Andressa Camargo</a> enviou uma mensagem para você. <a href="javascript:void(0)">Clique Aqui</a> para ler.</p>
                  <!-- <p class="time">1 Saat önce</p> -->
                </div>
              </li>
            </div>
            <div class="notify-drop-footer text-center">
              <a href=""><i class="fa fa-eye"></i> Ver Todas Notificações</a>
            </div>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Alterar Perfil</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0)" data-ng-click="vm.Sair()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div data-ui-view></div>
</div>